@CHARSET "ISO-8859-1";

/* Head Styles */
.header {
    position: relative;
    z-index: 1000;
    background-color: rgb(138, 184, 0);
    width: 100%;
    height: 58px;
    min-width: 1000px;
}

.header img {
	height: 50px;
    padding: 4px;
    float: left;
}

.logo span {
	font-size: 3em;
	font-family: Georgia,sans-serif;
	font-style:italic;
	color: rgb(255, 255, 255);
	padding: 5px;
	float: left;
}

.headmenu {
    float: right;
    font-family: arial,sans-serif;
    position: relative;
    z-index: 10000;
}

.headmenu ul {margin: 0px;}

.headmenu li {
    float: left;
    position: relative;
    list-style-type: none;
    margin-top: 0px;
    padding: 5px;
}

.headmenu li span {
	margin: 2px auto;
    position: relative;
    width:24px; 
    height:24px;
    display: block;
    background-size:cover
}

.headmenu li a {
    position: relative;
    line-height: 14px;
    padding: 2px 11px;
    font-size: 16px;
    display: block;
    border: 1px solid rgb(138, 184, 0);
    color: rgb(255, 255, 255);
}

/* icon-white */

.icon-home-w {background:url(../images/ic/icon-home-white.png) center; }
.icon-poker-w {background:url(../images/ic/icon-poker-white.png) center; }
.icon-help-w {background:url(../images/ic/icon-help-white.png) center; }
.icon-about-w {background:url(../images/ic/icon-about-white.png) center; }
.icon-login-w {background:url(../images/ic/icon-login-white.png) center; }

.icon-new-w {background:url(../images/ic/play-icon.png) center; }
.icon-join-w {background:url(../images/ic/join-icon.png) center; }
.icon-leave-w {background:url(../images/ic/exit-icon.png) center; }
.icon-more-w {background:url(../images/ic/more-icon.png) center; }



.space {display: inline-block; min-height: 150px; min-width: 1000px; width: 100%;}
.banner { position:absolute; left:0; right:0; top:58px; bottom:0; width:100%; 
	z-index: -1;  min-width: 1000px; overflow: hidden; height: 550px; }
.banner .banner-bottom{ z-index: 8; width: 100%; height: 100px; position: absolute; 
	bottom: 0;  background: url('../images/banner-bottom.png') repeat-x bottom left; }

/* Common */

.wrap {
    width: 1000px;
    margin: 0px auto;
}

a {
    text-decoration: none;
    color: rgb(51, 51, 51);
}

.body {
    min-width: 1000px;
    width: 100%;
}

.body .wrap {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid white;
    padding: 0;
}

.content {display:table; padding: 5px;}

.btn-top-container {
	padding: 5px; display: table;
}

.btn-top-container div {cursor: pointer;}

.btn-top-container div:HOVER {opacity: 0.8;}

.btn-top-container span { margin: 10px auto; position: relative; width:32px; 
    height:32px; display: block; background-size:cover; color: rgb(255, 255, 255); }

.btn-top{
	margin-right: 5px;
	height: 75px;
	width: 230px;
	padding: 5px;
	float: left;
}

.color-green{background-color: rgb(138, 184, 0);}
.color-gray{background-color: gray;}


/* Game */
.game-container {padding: 5px; width: 100%; min-height: 200px; margin-top: 10px;}
.game {width: 100%;}
.game-intro {background-color: rgba(0, 0, 0, 0.4); text-align: center; color: white;
	width: 970px; min-height: 300px; float: left;}
.cell {min-width: 310px; min-height: 100px; padding: 5px; border: 1px solid white; float: left; 
	border-radius: 10px; opacity:0.8;}
.row {width: 100%; display: table-row;}
.row0 .cell {background-color: #3399FF; }
.row1 .cell {background-color: green; min-height: 310px; min-width: 110px;}
.row1 .col1 {min-width: 710px;}
.row2 .cell {background-color: purple;}
.row1 .col1 {background-image:url(../images/poker-table.png) center; background-size: cover;}
.row2 .col1 {background-color: rgb(138, 184, 0);}
.row1 .col0{
	
	max-width: 110px; 
	overflow: hidden;
}
.row1 .col0 .player{  position:absolute;
	margin-left:-100px;	margin-top:100px;
	width:300px;
	height:100px;
	 -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);}
    
.table-state {color:white; font-size: 25px; margin: auto; text-align: center;}

.game-controller {min-height: 150px; min-width: 930px; margin-right:25px; margin-top: 5px;
	background-color: gray;}
.game-control-head {min-height: 25px; width: 100%; background-color: #3399FF;}
.game-control-tools{float: left;}
.game-control-status{float: right; display:table;}

.player {padding: 5px; background-color: rgba(255,255,255,0.8); height:90px;}
.player span{color: green; float: right; height:10px;}
.player div {background-color: rgba(255,255,255,0.8); padding: 1px;}
.player img {float:left; width:32px; height:32px;}
.cards {float:left; width:35px; height:60px;}
.cards img{width:40px; height: 60px;}