@CHARSET "ISO-8859-1";

/* Head Styles */
.header {
    position: relative;
    z-index: 10000;
    background-color: rgb(138, 184, 0);
    width: 100%;
    height: 58px;
    min-width: 1000px;
}

.header img {
	height: 50px;
    padding: 4px;
    float: left;
}

.logo span {
	font-size: 3em;
	font-family: Georgia,sans-serif;
	font-style:italic;
	color: rgb(255, 255, 255);
	padding: 5px;
	float: left;
}

.headmenu {
    float: right;
    font-family: arial,sans-serif;
    position: relative;
    z-index: 10000;
}

.headmenu ul {margin: 0px;}

.headmenu li {
    float: left;
    position: relative;
    list-style-type: none;
    margin-top: 0px;
    padding: 5px;
}

.headmenu li span {
	margin: 2px auto;
    position: relative;
    width:24px; 
    height:24px;
    display: block;
    background-size:cover
}

.headmenu li a {
    position: relative;
    line-height: 14px;
    padding: 2px 11px;
    font-size: 16px;
    display: block;
    border: 1px solid rgb(138, 184, 0);
    color: rgb(255, 255, 255);
}

/* icon-white */

.icon-home-w {background:url(../images/ic/icon-home-white.png) center; }
.icon-poker-w {background:url(../images/ic/icon-poker-white.png) center; }
.icon-help-w {background:url(../images/ic/icon-help-white.png) center; }
.icon-about-w {background:url(../images/ic/icon-about-white.png) center; }
.icon-login-w {background:url(../images/ic/icon-login-white.png) center; }


.space {display: inline-block; min-height: 150px; min-width: 1000px; width: 100%;}
.banner { position:absolute; left:0; right:0; top:58px; bottom:0; width:100%; 
	z-index: -1;  min-width: 1000px; overflow: hidden; height: 550px; }
.banner .banner-bottom{ z-index: 8; width: 100%; height: 100px; position: absolute; 
	bottom: 0;  background: url('../images/banner-bottom.png') repeat-x bottom left; }

/* Common */

.wrap {
    width: 1000px;
    margin: 0px auto;
}

a {
    text-decoration: none;
    color: rgb(51, 51, 51);
}

.body {
    min-width: 1000px;
    width: 100%;
}

.body .wrap {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid white;
    padding: 0;
}

.content {display:table; padding: 5px;}

.btn-top-container {
	padding: 5px;
}

.btn-top-container div {cursor: pointer;}

.btn-top-container div:HOVER {opacity: 0.6;}

.btn-top{
	margin-right: 5px;
	height: 100px;
	width: 230px;
	padding: 5px;
	float: left;
}

.color-green{background-color: rgb(138, 184, 0);}
.color-gray{background-color: gray;}


/* Game */
.game-container {padding: 5px; width: 100%; min-height: 200px;}
.game {width: 100%;}
.cell {min-width: 230px; min-height: 20px; padding: 5px; border: 1px solid white; float: left;}
.row0 div {background-color: yellow; }